@import url("https://fonts.google.com/specimen/Red+Hat+Display");

$PaleBlue: hsl(225, 100%, 94%);
$brigtblue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$DesaturatedBlue: hsl(224, 23%, 55%);
$DarkBlue: hsl(223, 47%, 23%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Red Hat Display!important", sans-serif;
  font-size: 14px;
}

.bg {
  background: url("./images/pattern-background-mobile.svg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-color: $veryPaleBlue;
  justify-content: center;
  background-size: contain;

  @media only screen and (min-width: 376px) {
    background: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    height: 100vh;
    background-color: $veryPaleBlue;
    background-size: contain;
  }

  .card {
    max-width: 375px;
    background: white;
    width: 100%;
    border-radius: 15px;
    margin: 15px;

    img {
      border-radius: 15px 15px 0 0;
    }
    .content {
      display: flex;
      flex-direction: column;
      text-align: center;

      align-items: center;
      h3 {
        all: unset;
        margin-top: 1.5rem;
        font-size: 20px;
        font-weight: 700;
        color: $DarkBlue;
      }
      p {
        all: unset;
        padding: 1rem 4rem;
        color: $DesaturatedBlue;
      }
    }

    .subscription {
      margin: auto;
      background: $veryPaleBlue;
      max-width: 320px;
      min-height: 98px;
      border-radius: 15px;
      gap: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      flex-wrap: wrap;

      @media only screen and (max-width: 376px) {
        margin: 0 15px;
      }

      .subscriptionLeft {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 311px) {
          margin: auto;
          padding-top: 15px;
        }

        div {
          h6 {
            color: $DarkBlue;
            font-weight: 700;
          }
          p {
            color: $DesaturatedBlue;
          }
        }
      }
      .subscriptionRight {
        list-style: none;
        color: $DarkBlue;

        @media only screen and (max-width: 311px) {
          margin: auto;
          padding-bottom: 15px;
        }
      }
    }
    .bottomBtn {
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 320px;
      .btn1 {
        all: unset;
        font-weight: 500;
        font-weight: 700;
        padding: 10px 0;
        background: $brigtblue;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        margin-top: 20px;
        &:hover {
          background-color: $DarkBlue;
        }
      }
      .linkCancel {
        all: unset;
        font-weight: 700;
        margin-top: 20px;
        color: $DesaturatedBlue;
        cursor: pointer;
        &:hover {
          color: $DarkBlue;
        }
      }
      @media only screen and (max-width: 376px) {
        margin: 0 15px;
        padding-bottom: 15px;
      }
    }
  }
}
